@model StoreKiosksMVC.Models.Store

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Store: @Model.StoreName</h2>

<font color="red">
    <h3>Are you sure you want to delete this store?</h3>
</font>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:large">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoLiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoLiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KioskNUCIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KioskNUCIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="font-size:large">
            <br />
            <input type="submit" value="Delete" class="btn btn-default" />
            <br /> <br />
                   <b>@Html.ActionLink("Back to Store List", "Index", "Stores", new { @cust = ViewData["Customer"] }, null)</b>
        </div>
    }
</div>
