@model StoreKiosksMVC.Models.Kiosk

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kiosk Details for kiosk: @Model.KioskId</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KioskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KioskId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KioskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KioskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoubleSided)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoubleSided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFTSerialTID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFTSerialTID1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFTSerialTID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFTSerialTID2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFTSerialNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFTSerialNumber1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFTSerialNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFTSerialNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPVNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPVNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFTMacAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFTMacAddress1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFTMacAddress2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EFTMacAddress2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamViewerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamViewerId)
        </dd>
    </dl>
</div>
<p style="font-size:large">
    <b>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <br /><br />
        @Html.ActionLink("Back to Store Kiosks List", "Index", "Kiosks", new { @StoreId = Model.StoreId, @cust = Model.Customer }, null)
    </b>
</p>

